*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 596px) {
    html {
      font-size: 53%; } }
  @media (max-width: 768px) {
    html {
      font-size: 55%; } }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  background-color: black; }
  .navbar_title {
    color: white;
    font-size: 3rem;
    font-weight: 700; }
  .navbar_right {
    color: white; }
    .navbar_right_contact {
      font-size: 2rem; }

.home {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .home-title {
    padding: 1rem;
    font-size: 3rem; }

.home-design {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto; }
  @media (max-width: 596px) {
    .home-design {
      flex-direction: column;
      align-items: center; } }
  .home-design-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%; }
  .home-design-tees {
    width: 60%; }
    @media (max-width: 596px) {
      .home-design-tees {
        width: 100%;
        height: 50%; }
        .home-design-tees img {
          width: 100%;
          height: 100%;
          object-fit: contain; } }
  .home-design-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%; }
    @media (max-width: 596px) {
      .home-design-buy {
        width: 100%;
        gap: 2rem;
        flex-direction: row; } }
  .home-design-now {
    background-color: black;
    margin-bottom: 2rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    cursor: pointer; }
    .home-design-now:hover {
      background-color: white;
      color: black;
      border: 1px solid black; }
    @media (max-width: 596px) {
      .home-design-now {
        background-color: white;
        color: black;
        border: 1px solid black; } }
  .home-design-cart {
    background-color: black;
    margin-bottom: 2rem;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    cursor: pointer; }
    @media (max-width: 596px) {
      .home-design-cart {
        background-color: white;
        color: black;
        border: 1px solid black; } }
    .home-design-cart:hover {
      background-color: white;
      color: black;
      border: 1px solid black; }
  @media (max-width: 596px) {
    .home-design-palette {
      display: flex;
      overflow-x: scroll;
      width: 80%;
      margin: 0 auto 0 auto; } }
  .home-design-palette-696969 {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #696969;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-696969:focus {
      outline: none; }
  .home-design-palette-131414 {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #131414;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-131414:focus {
      outline: none; }
  .home-design-palette-0c35c8 {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #0c35c8;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-0c35c8:focus {
      outline: none; }
  .home-design-palette-1d1f9d {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #1d1f9d;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-1d1f9d:focus {
      outline: none; }
  .home-design-palette-5e5e5e {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #5e5e5e;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-5e5e5e:focus {
      outline: none; }
  .home-design-palette-34be99 {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #34be99;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-34be99:focus {
      outline: none; }
  .home-design-palette-729e2c {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #729e2c;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-729e2c:focus {
      outline: none; }
  .home-design-palette-821d2b {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #821d2b;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-821d2b:focus {
      outline: none; }
  .home-design-palette-988713 {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #988713;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-988713:focus {
      outline: none; }
  .home-design-palette-522e1a {
    cursor: pointer;
    min-width: 5rem;
    min-height: 5rem;
    background-color: #522e1a;
    border-radius: 10rem;
    border: none; }
    .home-design-palette-522e1a:focus {
      outline: none; }
