.navbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;
  background-color: black; }
  .navbar_title {
    color: white;
    font-size: 3rem;
    font-weight: 700; }
  .navbar_right {
    color: white; }
    .navbar_right_contact {
      font-size: 2rem; }
